<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>kr.kh.test.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerachSuccess</display-name>
    <servlet-name>SearchSuccess</servlet-name>
    <servlet-class>kr.kh.test.controller.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSuccess</servlet-name>
    <url-pattern>/SearchSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerachFail</display-name>
    <servlet-name>SearchFail</servlet-name>
    <servlet-class>kr.kh.test.controller.SearchFail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFail</servlet-name>
    <url-pattern>/SearchFail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectMemberServlet</display-name>
    <servlet-name>SelectMemberServlet</servlet-name>
    <servlet-class>edu.kh.test.member.controller.SelectMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectMemberServlet</servlet-name>
    <url-pattern>/SelectMemberServlet</url-pattern>
    <url-pattern>/test/selectMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectMemeberServlet</display-name>
    <servlet-name>SelectMemeberServlet</servlet-name>
    <servlet-class>edu.kh.test.member.controller.SelectMemeberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectMemeberServlet</servlet-name>
    <url-pattern>/test/selectMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectMember</display-name>
    <servlet-name>SelectMember</servlet-name>
    <servlet-class>edu.kh.test.member.controller.SelectMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectMember</servlet-name>
    <url-pattern>/SelectMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectMemberS</display-name>
    <servlet-name>SelectMemberS</servlet-name>
    <servlet-class>edu.kh.test.member.config.SelectMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectMemberS</servlet-name>
    <url-pattern>/SelectMemberS</url-pattern>
  </servlet-mapping>
</web-app>